body {
	margin: 0px;
	background-color: rgb(138, 255, 230);
}

div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.post {
	width: 100%;
	height: 100%;
	background-color: rgba(191, 245, 233,0);
	transition: background-color 0.2s linear 0s;
}
.post:hover {
	background-color:rgba(191, 245, 233,1);
}

#postUrl {
	height: 10vh;
	font-family: 'Roboto Mono', monospace;
}

#content {
	height: 75vh;
	background-color:rgb(201, 255, 244);
}
#footer {
	height: 15vh;
	display: block;
	box-sizing: border-box;
}
#refreshBtn {
	font-family: sans-serif;
	font-weight: 600;
	font-size: 32px;
	width: 100%;
	height: 100%; 
	transition: color 0.2s linear 0s, background-color 0.1s linear 0s ;
	background-color: rgb(138, 255, 230);
	color: rgb(255, 122, 195);
}
#refreshBtn:hover {
	cursor: pointer;
	color: rgb(255,255,255);
	background-color: rgb(255, 122, 195)
}

@font-face {
	font-family: Roboto Mono;
	src: url("RobotoMono-Bold.ttf");
}